.container{
    position: absolute;
    text-align: center;
    text-decoration: skyblue;
}
.container-content{
    position: relative;
    left: 400px;
    width: 700px;
    padding-bottom: 40px;
    background-attachment: fixed;
    background-color: tomato;
    background-image: repeating-linear-gradient(lime,tomato,yellow);
}
.signup{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    left: 600px;
}
body{
    background-color: springgreen;
    font-size: 40px;
    position: fixed;
}
.label{
}
.button{
    size: 50%;

}
.input{
    size: 20px;
}
