.container{

  margin-top: 60px;
}
body{
  /*background-image: linear-gradient(lightblue,rgb(187, 200, 175),white);*/
  background-color: aliceblue;
}
h1,h2 {
  font-family: cursive;
}
form{
  margin:auto;
  display:flexbox;
}
.heading {
  font-size: 3em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.heading:hover {
  color: rgb(166, 202, 21);
  transform: translateX(10px);
}
.btn {
  font-size: 1.2em;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(166, 202, 21);
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
